
@font-face {
    font-family: "Neue Montreal";
    src: url("../fontes/PPNeueMontreal-Thin.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Neue Montreal";
    src: url("../fontes/PPNeueMontreal-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Neue Montreal";
    src: url("../fontes/PPNeueMontreal-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Neue Montreal";
    src: url("../fontes/PPNeueMontreal-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Neue Montreal";
    src: url("../fontes/PPNeueMontreal-SemiBoldItalic.otf") format("opentype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Neue Montreal";
    src: url("../fontes/PPNeueMontreal-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

:root {
    --preto: #27241F;
    --bege: #E3DFDC;
    --laranja: #DF5D32;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bege);
    color: var(--preto);
    font-family: "Neue Montreal";
}

header {
    font-family: "Neue Montreal";
    font-weight: 500;
    display: flex;

}

#botão-1 {
    font-family: "Neue Montreal";
    background-color: var(--preto);
    color: var((--bege))
}

#botão-2 {
    font-family: "Neue Montreal";
    background-color: var(--laranja);
    color: var((--bege))
}