<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

<div class="container">

    <form class="cadastro" method="POST" action="{{url_for('cadastro')}}">

        <h1>CRIAR CONTA</h1>

        <p class="texto">
            Junte-se à nossa loja e viva sua paixão pela música.
        </p>

        <label>Nome Completo</label>
        <div class="campos">
            <span class="material-symbols-outlined">person</span>
            <input type="text" name="nome" placeholder="Digite seu nome">
        </div>

        <label>E-mail</label>
        <div class="campos">
            <span class="material-symbols-outlined">mail</span>
            <input type="email"  name="email" placeholder="Digite seu e-mail">
        </div>

        <label>Senha</label>
        <div class="campos">
            <span class="material-symbols-outlined">lock</span>
            <input type="password"  name="senha" placeholder="Crie uma senha">
            <span class="material-symbols-outlined">visibility</span>
        </div>

        <button>
            <span class="material-symbols-outlined">album</span>
        
            Criar Minha Conta
        </button>

        <div class="linha">
            <span>OU</span>
        </div>

        <a href="#" class="login">
            <span class="material-symbols-outlined">person</span>
            Já tenho uma conta
        </a>

    </form>

</div>

</body>
</html>